<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>Controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <display-name>TICKET_MANAGEMENT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>Controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>Controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserController</display-name>
    <servlet-name>ViewUserController</servlet-name>
    <servlet-class>Controller.ViewUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserController</servlet-name>
    <url-pattern>/ViewUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>Controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAction</display-name>
    <servlet-name>AdminAction</servlet-name>
    <servlet-class>Controller.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAction</servlet-name>
    <url-pattern>/AdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RaiseTicketController</display-name>
    <servlet-name>RaiseTicketController</servlet-name>
    <servlet-class>Controller.RaiseTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaiseTicketController</servlet-name>
    <url-pattern>/RaiseTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTicketController</display-name>
    <servlet-name>ViewTicketController</servlet-name>
    <servlet-class>Controller.ViewTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTicketController</servlet-name>
    <url-pattern>/ViewTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateController</display-name>
    <servlet-name>AllocateController</servlet-name>
    <servlet-class>Controller.AllocateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateController</servlet-name>
    <url-pattern>/AllocateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocatingController</display-name>
    <servlet-name>AllocatingController</servlet-name>
    <servlet-class>Controller.AllocatingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocatingController</servlet-name>
    <url-pattern>/AllocatingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTicketAction</display-name>
    <servlet-name>AdminTicketAction</servlet-name>
    <servlet-class>Controller.AdminTicketAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTicketAction</servlet-name>
    <url-pattern>/AdminTicketAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsController</display-name>
    <servlet-name>DetailsController</servlet-name>
    <servlet-class>Controller.DetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsController</servlet-name>
    <url-pattern>/DetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendTicketController</display-name>
    <servlet-name>AttendTicketController</servlet-name>
    <servlet-class>Controller.AttendTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendTicketController</servlet-name>
    <url-pattern>/AttendTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorController</display-name>
    <servlet-name>SupervisorController</servlet-name>
    <servlet-class>Controller.SupervisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorController</servlet-name>
    <url-pattern>/SupervisorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorsController</display-name>
    <servlet-name>SupervisorsController</servlet-name>
    <servlet-class>Controller.SupervisorsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorsController</servlet-name>
    <url-pattern>/SupervisorsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupAttendController</display-name>
    <servlet-name>SupAttendController</servlet-name>
    <servlet-class>Controller.SupAttendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupAttendController</servlet-name>
    <url-pattern>/SupAttendController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAttendingController</display-name>
    <servlet-name>SAttendingController</servlet-name>
    <servlet-class>Controller.SAttendingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAttendingController</servlet-name>
    <url-pattern>/SAttendingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsController2</display-name>
    <servlet-name>DetailsController2</servlet-name>
    <servlet-class>Controller.DetailsController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsController2</servlet-name>
    <url-pattern>/DetailsController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserViewTickets</display-name>
    <servlet-name>UserViewTickets</servlet-name>
    <servlet-class>Controller.UserViewTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserViewTickets</servlet-name>
    <url-pattern>/UserViewTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsController3</display-name>
    <servlet-name>DetailsController3</servlet-name>
    <servlet-class>Controller.DetailsController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsController3</servlet-name>
    <url-pattern>/DetailsController3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>Controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/ReportController</url-pattern>
  </servlet-mapping>
</web-app>